/* Reno.css */

.catainer {
  width: 30vw;
  margin-left: 4vw;
}

#cat {
    width: 100%;
    height: auto;
    transform:skew(354deg, 6deg) scalex(-1)
}

.left-eye,
.right-eye {
    transition: d 0.2s ease-in-out 0.2s; /* Smooth transition for the 'd' attribute */
}


.left-eye:hover,
.right-eye:hover {
    transition: 0.2s ease-in-out ;
    transform-origin: center;
    transform: scale(.995); 
}




  /* #5d5d5d */


  .right-ear,.right-eye,.left-face{
    fill:#000000;
    transition:.5s ease-in-out;
    transition:.2s cubic-bezier(0.26, 1.34, 0.63, 0.63)
  }
  
  .left-ear,.left-eye,.right-face{
    fill:#232222;
    transition:.3s cubic-bezier(0.6, -0.06, 0, 0.57)
    
  }
